h2{
    color: aqua;
    background-color: blue;
}
h1{
    color: orangered;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    line-height: normal;
    letter-spacing: normal;
    font-size: larger;
}