<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>THIS IS A HOME PAGE</h1>
    <p>LEARNING EJS</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nostrum incidunt tempora doloribus explicabo, suscipit libero dicta autem quasi quidem aperiam, ullam qui quod eius obcaecati quibusdam delectus id unde.
    Optio, non in temporibus consequuntur voluptas porro, quae eveniet nulla tempore nostrum officiis ducimus atque repellat? Voluptate quam voluptatem animi dicta adipisci esse ea explicabo error molestias, pariatur, necessitatibus perferendis!</p>
</body>
</html>