.container{
    height: 300px;
    width: 80%;
    background-color: aqua;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content:baseline;
    
}
#blue{
    margin: 10px;
    height: 200px;
    width: 20%;
    background-color: blue;
    border: 2px solid black;
    flex-grow: 1;
}
#red{
    height: 200px;
    width: 20%;
    background-color: red;
    margin: 10px;
    border: 2px solid black;
    flex-grow: 1;
}
#green{
    height: 200px;
    width: 20%;
    background-color: green;
    margin: 10px;
    border: 2px solid black;
    align-self:flex-end;
}
h3{
    color: white;
  text-align: center;
}